.project-block{
	min-height: 350px;	
}

.project-block .title{
	color: #ed786a;
	font-weight: bold;
}

.project-block .tag{
  display: inline-block;
  padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
  background-color: #5bc0de;
  margin: 10px 0;
}

.project-block .description{
	padding-bottom: 10px;
}


.project-block .title,
.project-block .duration,
.project-block .ta,
.project-block .service,
.project-block .description,
.project-block .issue{
	text-align: left;
        display: inline-block;	
}
